{% extends "base.html" %}

{% block content %}
<div class="container text-center">
  <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">User Login</h5>
        <div class="row align-items-start">
          <div class="col">
            <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
             
            </div>
          </div>
      </div>
    </div>
    </div>

  
{% endblock %}