{% extends "base.html" %}
{% block content %}
<h1>Income List</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Sr_no</th>
                <th scope="col">Source</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
        {% for income in incomes %}
        <tr>
            <th scope="row">{{income.Sr_no}}</th>
            <td>{{ income.source }}</td>
            <td>{{ income.amount }}</td>
            <td>{{ income.date }}</td>
            <td>{{ income.description }}</td>
            <td> 
              <a href="{% url 'delete_income' Sr_no=income.Sr_no %}" class="btn btn-danger">Delete</a>

              <a href="{% url 'update_income' Sr_no=income.Sr_no %}" class="btn btn-warning">Update</a>

          </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No income entries found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href='create'>Add New Income</a>


{% endblock %}